
body.home{
    font-family: 'Coming Soon', cursive;
    font-weight:bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body.applicant{
    background-image: url(../img/gray.jpg);
     background-image:no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font-family: 'Coming Soon', cursive;
    font-weight:bold;
}


body.job{
  background-image: url(../img/gray.jpg);
     background-image:no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
font-family: 'Coming Soon', cursive;
    font-weight:bold;
    color:white;
  
}


h1,h2 {
	font-weight:bold;
}

body.company{
    background-image: url(../img/gray.jpg);
     background-image:no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font-family: 'Coming Soon', cursive;
    font-weight:bold;
}
body.application{
    background-image: url(../img/gray.jpg);
     background-image:no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font-family: 'Coming Soon', cursive;
    font-weight:bold;
}

.myimages {
    width: 400px;
    height: 300px;
}



